*{
	margin:0;
	list-style-type: none;
	border:none;
	padding:0;
	text-decoration: none;
}

.sections{
    .container{
	    max-height: 100vh;
	    max-width:100%;
	    border-bottom: thin $turquoise solid;
	    border-top: thin transparent solid;
	    overflow: hidden;
	    padding-top:1em;
	}
    .menu{
		line-height: 4em;
		box-shadow: 0 0 20px rgba(0,0,0,0.4);
		background-color: rgba(0,0,0,0.05);
		width:100%;
		display: flex;
		justify-content: center;
		position: absolute;
		position: fixed;
		top: 0;
		left: 0;
		z-index:1000;

		&>li{
			flex:0 0 7em;
			margin: 0 2.5em;
			font-size: 1.2em;
			text-align: center;
			transition: all ease 0.5s;
			   border-bottom: 0.3em transparent solid;
			   a{
			    color:$medgrey;
			   }
			   &>a:hover, &>a:active{
			    color:$lightgrey;
			   }
		}
		.active{
			a{
			    color:$darkgrey;
			   }
			   border-bottom: 0.3em $turquoise solid;
		}
	}
}


